$hamburger-prefix: 'icon' !default;
$open-classname: '[aria-expanded="true"]' !default;
$bar-color: #004365;
$bar-height: 2px;
$bar-width: 12px;
$bar-spacing: 4px;
$hamburger-selector: #{$hamburger-prefix}-hamburger !default;
